*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

body{padding:10px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 16px;}

h1{margin-top:0px; font-weight: 400;}

div#container{width: 100%; max-width: 1174px; min-width: 450px; margin: 0 auto;}

div.console { word-wrap: break-word; font-size: 16px; }

div.console div.jquery-console-inner{
width: 100%; height: 380px;
background:#333; padding:0.5em;
overflow:auto; font-family: monospace;}

div.console .jquery-console-prompt-label{color:#77f; font-weight:bold}

div.console .jquery-console-focus .jquery-console-cursor{background:#fefefe; color:#333; font-weight:bold}

div.console .jquery-console-prompt-box, div.console .jquery-console-message{color:#fff; margin-bottom:0.3em;}

div.console .jquery-console-welcome{color: #ff0;}

div.console .jquery-console-message-value{color:#1ad027;}

div.console .jquery-console-message-error{color:#f77;}

div.console .jquery-console-message-type{color:#52666f;}

div.console a, div.console a:visited, div.console a:active{color: #1ad027; text-decoration: underline;}
div.console a:hover{color: #ff0;}

.json{color:#333; font-family: monospace; width: 100%; height: 200px;}